body {
	color: white;
	background-image: url("");
	background-size: cover;
	font-family: Comic Sans, Courier New, serif;
	
}


body a{
	color: #bcebc8;
	font-size: 1rem;
}

.navigation a{
	color: black;
	font-size: 32px;
	padding: 50px;
	margin: 50px;
	background-color: white;
	opacity: .4;
	
}	
