body {
	color: black;
	background-image: url("./animedesert.jpg");
	background-size: cover;
	background-color: ;
	font-family: Comic Sans, Courier New, serif;
}

body a{
	color: #233d3d;
	font-size: 1rem;
}